
body, html{
    height: 100%;
    margin:0;
}

.fontForAboutMePage{
    font-size: 25px;
}

.bgImg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url('../img/new.png');
    background-position: center;
    background-size: cover;
}

.col-sm{
    position: initial !important;
}

.pictureWidth{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.fontLightGrey{
    color: #C9B4B4;
}

.profilePicture{
    width: 450px;
    height: 550px;
    border-radius: 30%;  
}

.margin{
    margin-top: 300px;

}

.marginForIntro{
    margin-top: 120px;
}

div{
    color: white;
}

.displayBlock{
    position: fixed;
    width: 100%;
    display: block;
}

.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
.fontTrainOne{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Roboto', sans-serif;
}

.fontDela{
    font-family: 'Dela Gothic One', cursive;
}

.resumeFont{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}

ul{
    list-style: none;
}