
body, html{
    height: 100%;
     margin:0;
}

.bgImg{
    position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
    background-image: url('../img//background1.jpg');
    background-position: center;
    background-size: cover;
}

.padding{
    padding-top: 100px;

}

div{
    color: white;
}

.displayBlock{
    position: fixed;
    width: 100%;
    display: block;
}

.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
.fontTrainOne{
    font-family: 'Dela Gothic One', cursive;
font-family: 'Roboto', sans-serif;
}

.fontDela{
    font-family: 'Dela Gothic One', cursive;
}

ul{
    list-style: none;
}